.wrapper {
  font-size: 0.9rem;
}

.modal {
  font-size: 0.9rem;

  .form {
    display: flex;
    flex-direction: row;
    p {
      width: 25%;
      margin-top: 5px;
      margin-right: 10px;
    }
    input {
      width: 60%;
      border: none;
      border: 1px solid rgb(215, 215, 215);
      outline: none;
      border-radius: 5px;
      padding-left: 10px;
      height: 35px;
      &:focus {
        background-color: #ebebeb;
      }
    }
    button {
      width: 10%;
      background-color: transparent;
      border: none;
    }
  }
}

.loading {
  position: fixed; /* or absolute */
  top: 55%;
  left: 55%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
